
#site-topnav			{ 
  position: relative; 
  margin: 0; 
  padding: 0; 
  /*z-index: 100;  */
  float: right;
  /* margin-right: 230px; */
  display: inline-block;
  height: 58px;
  /*top: -4px;*/
  top:3px;
  left:30px;
  font-size: 15px;
} 
#site-topnav a		{ 
  text-decoration: none; 
}
#site-topnav ul		{ 
  list-style: none; 
}
#site-topnav p    { 
  margin: 15px 0; 
  word-wrap: break-word;
}

/* 	LEVEL ONE  */
ul.dropdown       { 
  position: relative;  
  /*z-index: 100;*/
  z-index: 1000;
  /*height: 75px;*/
}
ul.dropdown li    { 
  font-weight: bold; 
  float: left; 
  zoom: 1; 
  padding: 5px 10px 18px 10px; 
}
ul.dropdown a:hover		{ 
/*  font-weight: bold; */
  color: #FFF; 
}
ul.dropdown a:active  { 
  color: #FFF; 
}
ul.dropdown li a      { 
  display: block; 
  padding: 4px 8px; 
  color: #FFF; 
}
ul.dropdown li:last-child a    { 
  border-right: none;  
} /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover  { 
  /*color: #1B415C; */
  position: relative;
   background: url(/sites/all/themes/accellion/images/main-nav-bg-fd.png) center top no-repeat; 
}

ul.dropdown li.hover,
ul.dropdown li:hover  { 
  /*color: #1B415C; */
  position: relative;

  /* background: url(/sites/default/files/main-nav-bg-fd.png) repeat-x 100% 100%; */
}

ul.dropdown li.hover a { 
 color: #1B415C;
/*background: #b4d9ef;*/
}

/* 	LEVEL TWO */
ul.dropdown ul 			{ 
  margin-left: 80px; 
  margin-top: -12px; 
  padding: 0; 
  width: 235px; 
  visibility: hidden; 
  position: absolute; 
  top: 100%; 
  left: 0; opacity:0.9
  /* border: thin solid #444; */
  font-size: 12px;
  /* color: #1B415C; */
  color: #b4d9ef; 
z-index: -100;
}
ul.dropdown ul li 			{ 
  font-weight: normal; 
  background: #e3e3e3; 
  color: #000; 
  font-size: 12px;
  /* border-bottom: 1px solid #ccc; */
  float: none; 
  padding: 10px 0px 0px 10px; 
  color: #b4d9ef;
/* list-style-image:url('/sites/default/files/home/li-arrow-norm.png'); */
}
ul.dropdown ul li:hover { 
  background: #b4d9ef; 
  color: black; 
  position: relative;
/* list-style-image:url('/sites/default/files/home/li-arrow-hov.png'); */
}
									  
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a			{ 
/*
  border-right: thin dotted #444; 
  border-left: thin dotted #444; 
*/
  width: 100%; 
  display: inline-block; 
} 

/* 	LEVEL THREE  */
ul.dropdown ul ul 			{ 
  left: 100%; 
  top: 0; 
}
ul.dropdown li:hover > ul 	{ 
  visibility: visible;
left: -80px;
}

#menu-highlighted-item  { 
  font-weight: bold; 
  background: #b4d9ef; 
  width: 215px;
margin-left: -10px;
padding-top: -10px;
  padding: 10px 0px 10px 20px;
}

li.menu-highlighted-item  { 
  font-weight: bold; 
  background: #BBB; 
  width: 220px; 
  font-weight: normal; 
  background: #b4d9ef; 
  color: #000; 
  border-bottom: 1px solid #ccc; 
  float: none; 
  padding: 10px 0px 0px 20px;
padding-top: -10px;
margin-left: -10px;
  color: #1B415C; 
}

/* need to use inline style due to js set class issue */
#menu-bold-item  { 
  font-weight: bold; 
}
ul.dropdown li.menu-no-hover{background-image: none;}
ul.dropdown li.menu-no-hover:hover{background-image: none;}

#menu-free-trial{ 
  color: #1B415C; 
  font-weight: bold;
  background: url('/sites/all/themes/accellion/images/trial-button.png') no-repeat 100% 50%;

}
#menu-free-trial:hover{ 
  color: white;
  text-shadow: 1px 1px 1px #1B415C;
  background: url('/sites/all/themes/accellion/images/trial-button.png') no-repeat 100% 50%;
}

.menu-free-trial a{ 
  font-weight: bold; 
background: url('/sites/default/files/main-nav-ft-h.png') repeat-x 100% 100%;
}


/* Hover Effect Translated Trial Button */


#trial-fr a { 
  color: #1B415C; 
  font-weight: bold;
  background: url('/sites/all/themes/accellion/images/trial-button-fr.png') no-repeat 100% 50%;
}

#trial-fr a:visited { 
  color: #1B415C; 
  font-weight: bold;
  background: url('/sites/all/themes/accellion/images/trial-button-fr.png') no-repeat 100% 50%;
}

#trial-fr a:hover{ 
  color: white;
  text-shadow: 1px 1px 1px #1B415C;
  background: url('/sites/all/themes/accellion/images/trial-button-fr.png') no-repeat 100% 50%;
}


#trial-de a { 
  color: #1B415C; 
  font-weight: bold;
  background: url('/sites/all/themes/accellion/images/trial-button-de.png') no-repeat 100% 50%;
}

#trial-de a:visited { 
  color: #1B415C; 
  font-weight: bold;
  background: url('/sites/all/themes/accellion/images/trial-button-de.png') no-repeat 100% 50%;
}

#trial-de a:hover{ 
  color: white;
  text-shadow: 1px 1px 1px #1B415C;
  background: url('/sites/all/themes/accellion/images/trial-button-de.png') no-repeat 100% 50%;
}





#toplink-phone{ 
  font-weight: normal; 
  text-decoration: none;
  cursor: none;
}

