#nice-menu-1 {
    z-index: 10;
}
#block-nice-menus-1 {
    margin-bottom: 0;
}
#block-nice-menus-1 .content {
    padding-left: 0 !important;
}
#block-nice-menus-1 a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
ul.nice-menu li {
    background-color: #74ACD3;
    /* border-right: 1px solid #FFFFFF; 
    border-style: none solid none none; */
    height: 27px;
    padding: 0 15px !important;
}
ul.nice-menu-down li.menuparent {
	
	background-image: url(/sites/all/themes/andromeda/images/dd-bg.png);
	
    /* background-color: #fff; 
	
    background-image: none; */
}
ul.nice-menu-down li.menuparent:hover, ul.nice-menu-down li:hover {
    /* background-color: #003865;
    background-image: none; */
	background-image: url(/sites/all/themes/andromeda/images/dd-bg.png);
    color: #FFFFFF;
}
ul.nice-menu-down li.active-trail {
    /* background-color: #003865;
    background-image: none; */
	background-image: url(/sites/all/themes/andromeda/images/dd-bg.png); 
    color: #FFFFFF;
}
ul.nice-menu li ul {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-top: medium none;
}
ul.nice-menu ul li {
    background-color: #E0E0E0;
    border-bottom: 1px solid #FFFFFF;
    font-size: 0.9em;
    padding: 0 5px !important;
    width: 13.5em;
}
ul.nice-menu ul li:hover {
    background-color: #FFFFFF;
    border-bottom: 1px solid #74ACD3;
}
ul.nice-menu ul li.active {
    background-color: #FFFFFF;
}
ul.nice-menu a {
    color: #000D53;
    padding: 6px 3px 0;
}
ul.nice-menu-down li.active-trail a {
    color: #FFFFFF;
}
ul.nice-menu-down li:hover a {
    color: #FFFFFF;
}
ul.nice-menu ul li a {
    color: #000D53 !important;
}
ul.nice-menu-down ul li a {
    color: #000D53;
}
ul.nice-menu-down ul li:hover a {
    color: #74ACD3 !important;
}
ul.nice-menu-down ul li a.active {
    color: #74ACD3 !important;
}









ul.nice-menu, ul.nice-menu ul {
    border-top: 1px solid #CCCCCC;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.nice-menu li {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EEEEEE;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    float: left;
}
ul.nice-menu a {
    padding: 0.3em 5px;
}
ul.nice-menu ul {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    left: -1px;
    margin-right: 0;
    top: 1.8em;
}
ul.nice-menu ul li {
    width: 12.5em;
}
ul.nice-menu-right, ul.nice-menu-left, ul.nice-menu-right li, ul.nice-menu-left li {
    width: 12.5em;
}
ul.nice-menu-right ul {
    left: 12.5em;
    top: -1px;
    width: 12.5em;
}
ul.nice-menu-right ul ul {
    left: 12.5em;
    top: -1px;
    width: 12.5em;
}
ul.nice-menu-right li.menuparent, ul.nice-menu-right li li.menuparent {
    background: url("arrow-right.png") no-repeat scroll right center #EEEEEE;
}
ul.nice-menu-right li.menuparent:hover, ul.nice-menu-right li li.menuparent:hover {
    background: url("arrow-right.png") no-repeat scroll right center #CCCCCC;
}
ul.nice-menu-left li ul {
    left: -12.65em;
    top: -1px;
    width: 12.5em;
}
ul.nice-menu-left li ul li ul {
    left: -12.65em;
    top: -1px;
    width: 12.5em;
}
ul.nice-menu-left li.menuparent, ul.nice-menu-left li li.menuparent {
    background: url("arrow-left.png") no-repeat scroll left center #EEEEEE;
}
ul.nice-menu-left li.menuparent:hover, ul.nice-menu-left li li.menuparent:hover {
    background: url("arrow-left.png") no-repeat scroll left center #CCCCCC;
}
ul.nice-menu-left a, ul.nice-menu-left ul a {
    padding-left: 14px;
}
ul.nice-menu-down {
    border: 0 none;
    float: left;
}
ul.nice-menu-down li {
    border-top: 1px solid #CCCCCC;
}
ul.nice-menu-down li li {
    border-top: 0 none;
}
ul.nice-menu-down ul {
    left: 0;
}
ul.nice-menu-down ul li {
    clear: both;
}
ul.nice-menu-down li ul li ul {
    left: 12.5em;
    top: -1px;
}
ul.nice-menu-down .menuparent a {
    padding-right: 15px;
}
ul.nice-menu-down li.menuparent {
    background: url("arrow-down.png") no-repeat scroll right center #EEEEEE;
}
ul.nice-menu-down li.menuparent:hover {
    background: url("arrow-down.png") no-repeat scroll right center #CCCCCC;
}
ul.nice-menu-down li li.menuparent {
    background: url("arrow-right.png") no-repeat scroll right center #EEEEEE;
}
ul.nice-menu-down li li.menuparent:hover {
    background: url("arrow-right.png") no-repeat scroll right center #CCCCCC;
}
ul.nice-menu li {
    background-image: none;
    margin: 0;
    padding-left: 0;
}
#header-region ul.nice-menu li {
    background: none repeat scroll 0 0 #EEEEEE;
    margin: 0;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}
#header-region ul.nice-menu ul {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    left: -1px;
    margin-right: 0;
    top: 1.8em;
}
#header-region ul.nice-menu ul {
    top: 1.7em;
}
#header-region ul.nice-menu-down li ul li ul {
    left: 12.5em;
    top: -1px;
}
#header-region ul.nice-menu-down li.menuparent {
    background: url("arrow-down.png") no-repeat scroll right center #EEEEEE;
}
#header-region ul.nice-menu-down li.menuparent:hover {
    background: url("arrow-down.png") no-repeat scroll right center #CCCCCC;
}
#header-region ul.nice-menu-down li li.menuparent {
    background: url("arrow-right.png") no-repeat scroll right center #EEEEEE;
}
#header-region ul.nice-menu-down li li.menuparent:hover {
    background: url("arrow-right.png") no-repeat scroll right center #CCCCCC;
}