
.quicktabs_wrapper.quicktabs-style-navlist {
  margin: 0;
  width: 100%;
  display: block;
}

ul.quicktabs-tabs.quicktabs-style-navlist {
  float: left;
  padding: 4px 0;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 20%;
}
ul.quicktabs-tabs.quicktabs-style-navlist li {
  display: block;
  margin-right: -1px;
  padding: 0;
}
ul.quicktabs-tabs.quicktabs-style-navlist li a {
  display: block;
  color: #666666;
  text-align: left;
  text-decoration: none;
  margin: 0;
  padding: 0 10px 0 0;
  height: 23px;
  font:bold 11px/170% Arial,Tahoma,Verdana;

  background:transparent url(images/arrows-off.gif) no-repeat right 0px;
}
ul.quicktabs-tabs.quicktabs-style-navlist li.active {
  /*  background: #F0F8FC; */
  /*  border-top: 1px solid #BFD0FF; */
  /*  border-bottom: 1px solid #BFD0FF; */
  background:transparent url(images/arrows-off.gif) no-repeat right 0px;
}
ul.quicktabs-tabs.quicktabs-style-navlist li.active a {
  color: #000000;
  font:bold 11px/170% Arial,Tahoma,Verdana;
  background:transparent url(images/arrows-on.gif) no-repeat right 0px;
  /*  border-right: 1px solid #F5F5F5; */
}

.quicktabs_main.quicktabs-style-navlist {
  float: left;
  border-left: 1px solid #CCCCCC;
  /*  background: #F0F8FC; */
  padding: 10px;
  min-height: 64px;
  position: relative;
  z-index: 1;
  width: 70%;
}
