
.quicktabs_main.quicktabs-style-arrows{
  clear:both;
padding: 10px;
border-style: none solid solid;
border-width: 0px 1px 1px;
border-color: #cccccc;
font-size: 13px;
}

ul.quicktabs-tabs.quicktabs-style-arrows{
  font:bold 12px/170% Arial;
  border-bottom:1px solid #ccc;
  padding: 2px!important;
  line-height:22px;
  margin:10px 0px 0px;
}

ul.quicktabs-tabs.quicktabs-style-arrows a{
  text-decoration:none;
  background:transparent url(images/arrows.gif) no-repeat center 17px;
  padding:0px 10px 5px;
font-color: #CCCCCC;
}

ul.quicktabs-tabs.quicktabs-style-arrows li a:hover{
  text-decoration:none;
  background:transparent url(images/arrows.gif) no-repeat center bottom;
font-color: #000000;
}

ul.quicktabs-tabs.quicktabs-style-arrows li.active a{
  background:transparent url(images/arrows.gif) no-repeat center bottom;
  font:bold 12px/170% Arial;
color: #0a4178;
}
